@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Ribeye&display=swap');

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(
    rgba(29, 29, 29, 0.8),
    rgba(29, 29, 29, 0.8)
  ),
  url(./assets/images/bgimage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-top: calc(10% + 60px);
  font-family: 'Cabin', sans-serif; 
  font-size: 20px;
  color: #ddd;
  text-align: center;
  line-height: 1.5;
}

nav {
  padding: 1% 0;
  background-color: #1B6194;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h1 {
  font-family: 'Ribeye', cursive;
  font-size: 40px;
  color: #ddd;
}

h2 {
  font-family: 'Ribeye', cursive;
  font-size: 33px;
}

h3 {
  font-family: 'Ribeye', cursive;
  font-size: 25px;
}

hr {
  width: 90%;
  border: 1px solid #ddd;
  display: none;
}

section {
  /* min-height: 200px; */
  border-radius: 10px;
  margin: 10px 0;
  padding: 2% 0;
  background-color: rgba(27, 97, 148, 0.8);
}

.rest-list {
  background-color: rgba(0, 0, 0, 0);
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active {
  color: #aaa;
}

/* section:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.7);
} */

ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
}

fieldset {
  width: max-content;
  margin: auto;
  text-align: left;
  border-color: #fff;
  border: none;
}

.duration, .location {
  padding: 0 5px;
  max-width: 90vw;
  text-align: center;
}

.duration {
  max-width: 95vw;
}

legend {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.add-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-item input {
  width: 20em;
}

input {
  font-family: inherit;
}

input:not([type=radio], [type=checkbox]) {
  border-radius: 5px;
  margin: auto 5px;
}

input[type=number] {
  width: 5em;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: whitesmoke;
  border: 1px solid #000000;
  transition: 0.2s;
}

input[type=radio]:checked {
  border: 6px solid #E03634;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: whitesmoke;
  border: 1px solid #000000;
  transition: 0.2s;
}

input[type=checkbox]:checked {
  border: 8px solid #E03634;
}

button {
  border: 1px outset #000;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #E03634;
  color: #FAEBD7;
  font-size: 15px;
}

button:active {
  border: 1px inset #000;
  background-color: #333;
}

button:disabled {
  display: none;
}

button.logout {
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  border: none;
  background-color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

button.logout:hover, button.logout:active {
  color: #aaa;
}

.poll-choice, .restaurants div {
  width: max-content;
  max-width: 90%;
  margin: auto auto 30px auto;
}

.signup, .login {
  width: max-content;
  margin: auto;
}

.signup div, .login div {
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 350px) {
  input {
    font-size: 15px;
  }
}

@media all and (min-width: 800px) {
  .duration {
    padding: 0.5% 1%;
  }

  section {
    width: 50vw;
    margin: 10px auto;
    padding: 2% 5%;
    text-align: center;
  }

  .duration, .location {
    max-width: 100%;
  }

  .add-item {
    width: auto;
    max-width: 100%;
  }

  .add-item input {
    width: auto;
    max-width: 100%;
  }

  .poll, .restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }

  .poll-choice, .restaurants div {
    display: inline-block;
    width: 48%;
  }
}
